*.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/burhanaliskan.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/burhanaliskan.xcuserdatad/UserInterfaceState.xcuserstate
